# Python
*.py.old
*.o
*.pyc
*.prof
__pycache__/
env/

# SetupTools
Bens_Compiled_Language/
build/
*.egg-info

## sphinx-docs
docs/build/

## test compiler outputs
test
*.ll
target/

## nuitka compilation outputs

*.build/
Main.bin
tests/output
main.bin
