# Python
*.py.old
*.o
*.pyc
*.prof
__pycache__/
env/
winenv/
*.tar.gz
/.egg/

# SetupTools
Bens_Compiled_Language/
build/
*.egg-info

## sphinx-docs
docs/build/
docs/source/_static/gif_parts/

## test compiler outputs
test
*.ll
target/

## nuitka compilation outputs

*.build/
Main.bin
tests/output
main.bin
