# documentation
sphinx
sphinx-rtd-theme

# project
rply
#llvmlite
git+github.com/spidertyler2005/llvmlite.git@master
psutil

## profiling
memory_profiler
matplotlib
snakeviz

## compilation
ordered-set
nuitka

## source management
mypy