# documentation
sphinx
sphinx-rtd-theme

# project
rply
# llvmlite
# git+https://github.com/spidertyler2005/llvmlite.git
git+https://github.com/Hassium-Software/llvmlite-lld.git
psutil

## profiling
memory_profiler
matplotlib
snakeviz

## compilation
ordered-set
nuitka

## source management
mypy